<div class="col-md-12">

</div>
<div>
  <iframe width="100%" height="500"; src="http://<%= @machine.ip %>:8080/monitorix-cgi/monitorix.cgi?mode=localhost&graph=all&when=1day&color=white"></iframe>
</div>