.bundle
.byebug_history
vendor/
.env

db/*.sqlite3
deepsky/public/assets/*

deepsky/shared/log/unicorn.stderr.log
deepsky/shared/pids/unicorn.pid
# Ignore application configuration
.idea
deepsky/.idea
